@model Demo.Portal.ViewModels.ListStudentsViewModel

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>


@if (@Model.StudentsSources.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Student Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StudentsSources)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No students found.</p>
}
<a asp-controller="Students" asp-action="Add">Add Student</a>